@model ArtworksVM

<div class="grid">
    <div class="grid-sizer"></div>
    @foreach (var artwork in Model.Artworks) {
        <div class="grid-item visible" style="cursor: pointer;" data-artwork-id="@artwork.Id">
            <div class="img-container">
                <img src="@artwork.ImageUrl" alt="@artwork.Title"/>
            </div>
            <div class="grid-item-overlay">
                <div class="overlay-row">
                    <div class="title" title="@artwork.Title">@artwork.Title</div>
                    <div class="text">@artwork.Price kr</div>
                </div>
                <div class="overlay-row">
                    <a class="text highlight" href="">@artwork.Artist.FullName</a>
                    <div class="text">@artwork.CreationDate.ToString("MMMM dd, yyyy")</div>
                </div>
            </div>
        </div>
    }
</div>


@*  Placeholder for the modal *@
<div class="modal fade" id="artworkDetailsModal" tabindex="-1" aria-labelledby="artworkDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">

        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="d-flex justify-content-center mb-4">
        @Html.PagedListPager(Model.Artworks, page => Url.Action("Index", new { page }), Model.PaginationOptions)
    </div>
</div>

@section Scripts {
    <script src="~/js/artworkMasonryGrid.js"></script>
    <script>
        // Event delegation for grid item click
        $('.grid').on('click', '.grid-item', function () {
            var artworkId = $(this).data('artwork-id');
            $('#artworkDetailsModal .modal-content').html(''); // Clear previous content

            $.ajax({
                url: '@Url.Action("GetArtworkDetails", "Artwork")', // Replace with your controller and action
                type: 'GET',
                data: { id: artworkId },
                success: function (response) {
                    $('#artworkDetailsModal .modal-content').html(response);
                    $('#artworkDetailsModal').modal('show');
                },
                error: function () {
                    alert('An error occurred while loading the artwork details.');
                }
            });
        });
    </script>
}
