@model ArtworksVM

<div class="row" data-masonry='{"percentPosition": true }'>
    @foreach (var artwork in Model.Artworks) {
        <div class="col-12 col-md-6 col-lg-3 mb-4 testing">
            <div class="card position-relative artwork-card" style="cursor: pointer;" data-artwork-id="@artwork.Id">
                <img src="@artwork.ImageUrl" class="card-img-top" alt="...">
                <div class="card-img-overlay d-flex align-items-end">
                    <div class="bg-black-overlay w-100 text-white">
                        <p class="card-text mt-auto">@artwork.Title</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!-- Placeholder for the modal -->
<div class="modal fade" id="artworkDetailsModal" tabindex="-1" aria-labelledby="artworkDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="d-flex justify-content-center mb-4">
        @Html.PagedListPager(Model.Artworks, page => Url.Action("Index", new { page }), Model.PaginationOptions)
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.artwork-card').on('click', function () {
                var artworkId = $(this).data('artwork-id');
                $('#artworkDetailsModal .modal-content').html(''); // Clear previous content

                $.ajax({
                    url: '@Url.Action("GetArtworkDetails", "Artwork")', // Replace with your controller and action
                    type: 'GET',
                    data: { id: artworkId },
                    success: function (response) {
                        $('#artworkDetailsModal .modal-content').html(response);
                        $('#artworkDetailsModal').modal('show');
                    },
                    error: function () {
                        alert('An error occurred while loading the artwork details.');
                    }
                });
            });
        });
    </script>
}
